fastapi[all]
uvicorn[standard]
sqlmodel
alembic
psycopg2-binary
pandas
openpyxl
python-dotenv
requests
Pillow
unidecode
google-generativeai>=0.7.2
pgvector
passlib[bcrypt]
python-jose[cryptography]
python-multipart
sentence-transformers
torch
langchain-huggingface
langchain-community
langchain-google-genai
langchain-core
chromadb
nvidia-ml-py3
pytest
pytest-mock
httpx
pytest-xdist
psutil
